.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-width: 350px;
  background-color: white;
  text-align: center;

  &.init:not(.skiped) {
    height: 500vh;
  }

  &.skiped {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .alt-image-wrapper {
      position: relative;
      max-width: 100vw;
      min-width: 350px;
      width: 768px;
      height: 672px;
      aspect-ratio: 768/672;
    }
  }

  .loading {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    min-width: 350px;
    height: 100vh;
    transition: opacity 0.7s;
    opacity: 1;
    background-color: white;

    * {
      transform: translateY(-5vh);
    }

    &.hidden {
      opacity: 0;
    }

    p {
      pointer-events: none;
      color: black;
      font-size: 30px;
      position: absolute;
      top: 35vmin;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: fit-content;
      // padding-top: 35vmin;

      &::after {
        position: absolute;
        content: "...";
        animation: dots 1s infinite alternate;
        @keyframes dots {
          0% {
            content: "";
          }
          25% {
            content: ".";
          }
          50% {
            content: "..";
          }
          75% {
            content: "...";
          }
        }
      }
    }

    button {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto auto 10vh;
      width: 150px;
      transition: opacity 0.7s;
    }

    &.show-skip {
      button {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .canvas-wrapper {
    background-color: black;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: auto;
    min-width: 350px;
    height: 100vh;
    overflow: visible;

    .canvas {
      max-width: 80vw;
      min-width: 175px;
      max-height: 100vh;
      aspect-ratio: 768/672;
    }
  }

  .to-projects-wrapper {
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    height: fit-content;
    width: fit-content;
    min-width: 350px;
    top: 65%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: auto;
    transition: opacity 0.5s;

    &.show {
      opacity: 1;
      pointer-events: all;
    }

    .to-projects {
      position: relative;
      color: white;
      transition: all 0.3s;
      padding: 5px 15px;
      font: {
        size: 35px;
        family: "raleway", sans-serif;
        weight: 500;
      }
    }
  }

  .scroll-guide {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    animation: bounce 1s ease-in-out infinite alternate;
    @keyframes bounce {
      from {
        transform: translateY(-10px) rotate(-90deg);
      }
      to {
        transform: translateY(10px) rotate(-90deg);
      }
    }
    &.show {
      opacity: 1;
    }
  }
}

.preload {
  opacity: 0;
  position: absolute;
  top: 0;
  img {
    position: absolute;
    top: 0;
  }
}

@media (max-width: 600px) {
  .container {
    .to-projects-wrapper {
      .to-projects {
        font-size: 30px;
        &:hover {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    .to-projects-wrapper {
      .to-projects {
        font-size: 25px;
        &:hover {
          font-size: 27px;
        }
      }
    }
  }
}

@media (hover: hover) {
  .to-projects-wrapper {
    .to-projects:hover {
      font-size: 37px;
    }
  }
}
