.container {
  height: 100vh;
  height: 100dvh;
  min-height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #202124;

  * {
    box-sizing: content-box;
    font-family: sans-serif;
  }

  .header {
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    .nav {
      height: 48px;
      padding: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-left,
      .nav-right {
        display: flex;
        align-items: center;
        a {
          padding: 5px;
        }
      }

      .nav-left {
        margin-left: 15px;
        gap: 10px;
      }
      .nav-right {
        margin-left: 15px;
        gap: 10px;

        .nav-item:last-child {
          position: relative;
          width: 96px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          border-radius: 5px;
          background-color: rgb(74, 84, 178);
          a {
            font-size: 14px;
            color: white;
          }
        }
      }
    }
  }

  .flex-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    .logo {
      user-select: none;
      pointer-events: none;
      flex-grow: 1;
      flex-basis: 500px;
      max-height: 300px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 92px;
      line-height: 92px;
      font-size: 92px;
      font-weight: 700;

      .blue {
        &:first-child {
          line-height: 110px;
          font-size: 110px;
          font-weight: 500;
          // margin-right: -8px;
        }
        color: #4285f4;
      }
      .red {
        color: #db4437;
      }
      .yellow {
        color: #f4b400;
      }
      .green {
        color: #0f9d58;
      }
    }
    .search {
      padding: 20px;

      .form {
        &.drop {
          animation: drop 1s 0s ease-in forwards;
          transform-origin: center;

          @keyframes drop {
            0% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(100vh) rotate(-180deg);
            }
          }
        }
        .input-wrapper {
          background-color: white;
          position: relative;
          display: flex;
          width: 580px;
          max-width: 90vw;
          max-width: 90dvw;
          padding-left: 14px;
          padding-right: 8px;
          padding-top: 5px;
          justify-content: stretch;
          margin: auto;
          height: fit-content;
          border: 1px solid #bdc1c6;
          outline: none;
          border-radius: 22px;

          .search-icon {
            width: 20px;
            height: 32px;
            padding-right: 13px;
            stroke: #9aa0a6;
            display: flex;
            align-items: center;
            justify-content: center;
            stroke-width: 1px;
          }
          textarea {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
            line-height: 22px;
            font-size: 16px;
            background: none;
            outline: none;
            border: none;
            resize: none;

            overflow: hidden;
          }
        }
      }
      .btn-group {
        height: 58px;
        line-height: 58px;
        padding-top: 18px;

        button,
        a {
          font-size: 14px;
          box-sizing: border-box;
          cursor: pointer;
          height: 34px;
          padding: 8px 16px;
          margin: 4px;
          background-color: #f8f9fa;
          color: #202124;
          border: none;
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0);
          &:hover {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            border: 1px solid #dadce0;
          }
        }
      }
    }
    .empty {
      flex-grow: 1;
      min-height: 150px;
    }
  }
  footer {
    flex-basis: 50px;
    line-height: 50px;
    color: #70757a;
    background-color: #f2f2f2;
  }
}

@media all and (max-height: 800px) {
  .container {
    .flex-wrapper {
      .logo {
        flex-basis: auto;
      }
    }
  }
}
