.container {
  position: relative;
  width: 100vw;
  // height: 200vh;
  min-width: 350px;
  height: fit-content;
  min-height: 500px;

  &.mobile {
  }

  &.headerAway {
    .title {
      // transform: translateY(-0vh) scale(1);
      // filter: blur(5px);
      pointer-events: none;
      button {
        pointer-events: all;
      }
      &.copy {
        color: black;
      }
    }
    .sticky-item {
      transition: filter 0.7s;
      filter: none;
    }
  }

  .title {
    z-index: 1;
    // position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    height: 100vh;
    height: 100dvh;
    min-height: 500px;
    gap: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0px 5vw;
    text-align: center;
    font-family: "raleway", sans-serif;
    font-weight: 700;
    // transition: all 0.7s;
    transform: scale(0.8);
    pointer-events: none;

    .title_author {
      font-size: 70px;
    }

    .title_main {
      word-break: keep-all;
      font-size: 164px;
      line-height: 180px;
      div {
        white-space: nowrap;
      }
    }

    .scroll-to-continue {
      border: none;
      background: none;
      font-family: "raleway", sans-serif;
      font-weight: 700;
      font-size: 30px;
    }
  }

  .sticky-item {
    // position: sticky;
    // height: 100vh;
    // height: 100dvh;
    width: 100vw;
    width: 100dvw;
    min-height: 500px;
    top: 0;
    left: 0;
    // overflow: hidden;
    // filter: blur(5px);
    pointer-events: none;
  }
}

@media all and (max-width: 1350px) {
  .container {
    .title {
      .title_author {
        font-size: 60px;
      }
      .title_main {
        font-size: 144px;
        line-height: 160px;
      }
    }
  }
}

@media all and (max-width: 1080px) {
  .container {
    .title {
      .title_author {
        font-size: 50px;
      }
      .title_main {
        font-size: 124px;
        line-height: 140px;
      }
    }
  }
}

@media all and (max-width: 900px) {
  .container {
    .title {
      .title_author {
        font-size: 40px;
      }
      .title_main {
        font-size: 104px;
        line-height: 120px;
      }
    }
  }
}

@media all and (max-width: 740px) {
  .container {
    .title {
      .title_author {
        font-size: 40px;
      }
      .title_main {
        font-size: 94px;
        line-height: 100px;
      }
    }
  }
}

@media all and (max-width: 650px) {
  .container {
    .title {
      .title_author {
        font-size: 40px;
      }
      .title_main {
        font-size: 84px;
        line-height: 90px;
      }
    }
  }
}

@media all and (max-width: 550px) {
  .container {
    .title {
      .title_author {
        font-size: 40px;
      }
      .title_main {
        font-size: 74px;
        line-height: 80px;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .container {
    .title {
      .title_author {
        font-size: 35px;
      }
      .title_main {
        font-size: 64px;
        line-height: 70px;
      }
    }
  }
}

@media all and (max-width: 420px) {
  .container {
    .title {
      .title_author {
        font-size: 35px;
      }
      .title_main {
        font-size: 58px;
        line-height: 64px;
      }
    }
  }
}
