.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-start;
  pointer-events: all;
  height: fit-content;
  min-height: 150vh;
  gap: 50px;
  padding: 100px 5vw;
  margin-top: 200px;
  backdrop-filter: invert(1);
  // background-color: black;

  .row {
    display: flex;
    gap: 5vw;
    flex-basis: 20vw;
    width: fit-content;
  }

  .img-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 3/2;
    border-radius: 5px;
    width: 30vw;
    min-width: 200px;

    &:hover {
      img {
        @keyframes img-hover--img {
          0% {
            filter: blur(0px) grayscale(1) brightness(0.7);
            margin: 0;
          }
          5% {
            margin: -2px -2px 1px -2px;
          }
          15% {
            margin: 1px 2px -3px -2px;
            filter: blur(0px) grayscale(1) brightness(0.7);
          }
          25% {
            filter: blur(5px) grayscale(1) brightness(0.7);
            margin: 3px 2px -2px -2px;
          }
          100% {
            filter: blur(0px) grayscale(0) brightness(1);
            margin: 0;
          }
        }
        animation: img-hover--img 0.7s forwards;
      }

      .btn--visit {
        @keyframes img-hover--btn {
          0% {
            transform: translate(-1px, 2px);
          }
          5% {
            transform: translate(2px, -1px);
          }
          15% {
            transform: translate(0px, 1px);
          }
          25% {
            transform: translate(1px, -2px);
          }
          100% {
            transform: translate(0px, 0px);
            filter: blur(0px);
          }
        }
        animation: img-hover--btn 0.7s forwards;
      }
    }

    &:not(:hover) {
      img {
        @keyframes img-hover-end--img {
          0% {
            filter: none;
            margin: 0;
          }
          5% {
            margin: 2px 2px -1px 2px;
          }
          15% {
            margin: -1px -2px 3px 2px;
          }
          25% {
            margin: -3px -2px 2px 2px;
          }
          100% {
            filter: grayscale(1) brightness(0.7);
            margin: 0;
          }
        }
        animation: img-hover-end--img 0.7s forwards;
      }

      .btn--visit {
        @keyframes img-hover-end--btn {
          0% {
            transform: translate(1px, -2px);
            filter: blur(0px);
          }
          5% {
            transform: translate(-2px, 1px);
          }
          15% {
            transform: translate(0px, -1px);
          }
          25% {
            transform: translate(-1px, 2px);
          }
          100% {
            transform: translate(0px, 0px);
            filter: blur(5px);
          }
        }
        animation: img-hover-end--btn 0.7s forwards;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: none;
      height: auto;
      width: 30vw;
      min-width: 200px;
      filter: grayscale(1);
    }

    .btn--visit {
      transition: filter 0.3s;
      filter: blur(3px);
      z-index: 50;
      background-color: black;
      font-weight: 700;
      padding: 3px 5px;
      color: white;
      width: fit-content;
      height: fit-content;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 20px;
    }
  }
}
