.container {
  z-index: 0;
  background-color: whitesmoke;
  margin: auto;
  height: 100vh !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon--loading {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 10vmin;
    height: 10vmin;
    pointer-events: none;
    animation: rotate 1s linear infinite;
    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
