.header {
  z-index: 2;
  position: fixed;
  top: 15px;
  left: 0;
  color: whitesmoke;
  width: fit-content;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 15px 15px 0;
  margin: {
    right: 90px;
  }
  padding: {
    right: 40px;
    left: 20px;
    top: 15px;
    bottom: 20px;
  }
  font: {
    family: "raleway", sans-serif;
    weight: 700;
  }

  &.project {
    top: 60px;
  }

  .back {
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    background: none;
    color: whitesmoke;
    border: none;
    margin-bottom: 5px;
    font: {
      family: "raleway", sans-serif;
      weight: 700;
    }

    .arrow-wrapper {
      transition: all 0.3s;
    }

    &:hover {
      .arrow-wrapper {
        transform: translateX(-3px);
      }
    }
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    font: {
      size: 50px;
    }
  }

  .sub-title {
    display: flex;
    flex-wrap: wrap;
    margin: {
      top: 10px;
    }
    font: {
      size: 30px;
      weight: 500;
    }
  }

  .title__break,
  .sub-title__break {
    text-align: start;
  }

  &.Clock {
    z-index: 2;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: {
      right: 10px;
    }
    .title {
      font: {
        size: 30px;
      }
    }

    .sub-title {
      display: none;
    }
  }
}
