.container {
  z-index: 1;
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 350px;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }

  .content {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;

    .content__left {
      width: 50vw;
      height: 100vh;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
    }

    .content__right {
      position: relative;
      text-align: center;
      width: 40vw;
    }

    .children-wrapper {
      width: 100%;
    }

    .screenshots {
      box-shadow: 5px 5px 5px lightgray;
      min-width: 350px;
      background-color: rgb(241, 241, 241);
      border-radius: 15px;
      transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
      opacity: 0;
      transform: translateY(10vh);
      padding-bottom: 20px;
      opacity: 1;
      transform: translateY(0);
    }

    .swiper__navigation-wrapper {
      z-index: 999;
      pointer-events: none;
      position: absolute;
      width: 95%;
      min-width: 300px;
      height: 50px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;

      .swiper__navigation {
        cursor: pointer;
        pointer-events: all;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        transform: translateY(-25%);
        opacity: 1;
        transition: opacity 0.3s;
        animation: bounce 2s linear infinite;
        box-shadow: 0px 0px 5px gray;
        background-color: rgba(0, 0, 0, 0.3);

        @keyframes bounce {
          0% {
            transform: scale(1) translateX(0);
          }
          40% {
            transform: scale(0.8, 1.2) translateX(-10px);
          }
          50% {
            transform: scale(1.2, 0.8) translateX(-6px);
          }
          60% {
            transform: scale(0.9, 1.1) translateX(-4.5px);
          }
          70% {
            transform: scale(1.05, 0.95) translateX(-2.5px);
          }
          80% {
            transform: scale(0.98, 1.02) translateX(-1px);
          }
          90% {
            transform: scale(1);
          }
          100% {
            transform: scale(1) translateX(0);
          }
        }

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .swiper__container {
      max-width: 100vw;
      min-width: 300px;
      height: fit-content;
      display: flex;
      padding: 5vw;

      .swiper__item {
        position: relative;
        align-self: center;
        text-align: center;
        margin-bottom: -20px;
      }
    }
  }

  .card {
    box-shadow: 5px 5px 5px lightgray;
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    height: fit-content;
    max-width: 900px;
    min-width: 300px;
    text-align: start;
    transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 0;
    transform: translateY(30%);
    padding: {
      left: 20px;
      right: 20px;
      top: 20px;
      bottom: 20px;
    }
    margin: {
      top: 50px;
    }

    transform: translateY(0);
    opacity: 1;

    .card__title {
      margin: {
        bottom: 25px;
      }
      font: {
        size: 35px;
        weight: 700;
      }
    }

    .card__content {
      margin: {
        left: 20px;
      }
      font: {
        size: 16px;
      }
    }

    &:first-child {
      margin-top: 70vh;
    }

    &:last-child {
      margin-bottom: 50vh;
    }

    &.summary {
      .card__title {
        margin: {
          bottom: 35px;
        }
      }

      .summary-wrapper {
        &:not(:last-child) {
          margin: {
            bottom: 25px;
          }
        }
      }

      .summary__sub-title {
        margin: {
          bottom: 5px;
          left: 20px;
        }
        font: {
          size: 20px;
          weight: 700;
        }
      }

      .summary__text {
        color: #221718;
        line-height: 25px;
        word-break: keep-all;
        white-space: pre-line;
        margin: {
          top: 15px;
          bottom: 10px;
          left: 30px;
        }
      }
    }

    &.description {
      .card__content {
        line-height: 35px;
        word-break: keep-all;
        white-space: pre-line;
      }
    }

    &.skills {
      .card__title {
        margin: {
          bottom: 40px;
        }
      }
      .card__content {
        display: grid;
        justify-items: center;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(20%, auto));
      }
    }

    &.update {
      hgroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 25px;
        .card__title {
          margin-bottom: 0;
        }
        .update__date-diff {
          color: gray;
          flex-grow: 1;
          margin-left: 20px;
          font: {
            size: 16px;
          }
        }
      }
      .card__content {
        a {
          border-bottom: 1px solid lightgray;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
          row-gap: 15px;
          border-radius: 0px;
          transition: all 0.3s;
          padding: 10px;
          margin-top: -10px;
          &:hover {
            border-radius: 5px;
            background-color: lightgray;
            transform: scale(1.01);
          }

          .update__message {
            color: #221718;
            white-space: pre-line;
            font: {
              size: 20px;
            }
          }

          .update__date {
            color: gray;
            font: {
              size: 16px;
            }
          }
        }
      }
    }

    &.links {
      min-width: 300px;
      .card__content {
        .link__list {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }

        .test-account {
          margin-top: 20px;
          .links__sub-title {
            margin: {
              bottom: 10px;
            }
            font: {
              size: 20px;
              weight: 700;
            }
          }
          .test-account__list {
            margin-left: 10px;
            display: flex;
            gap: 10px;
          }
          & > p {
            color: gray;
            word-break: keep-all;
            font-size: 14px;
            margin: {
              top: 10px;
              left: 10px;
            }
          }
        }
      }
    }
  }
}

.container.clock {
  .content {
    flex-direction: column;
    align-items: center;

    .content__left,
    .content__right {
      width: auto;
      height: auto;
      position: static;
    }
    .screenshots {
      box-shadow: none;
      background: none;
      max-height: auto;
      .swiper__container {
        max-height: auto;
        .swiper__item {
          margin-bottom: auto;
        }
      }
    }
    .card {
      width: 90vw;
      margin: {
        top: 100px;
        left: 10px;
        right: 10px;
      }
      &:first-child {
        margin-top: 50px;
      }
      &:last-child {
        margin-bottom: 250px;
      }
    }
  }
}

@media all and (max-width: 1300px), all and (max-height: 640px) {
  .container {
    .content {
      margin-top: 125px;
      flex-direction: column;
      align-items: center;

      .content__left,
      .content__right {
        width: auto;
        height: auto;
        position: static;
      }
      .screenshots {
        box-shadow: none;
        background: none;
        max-height: auto;
        .swiper__container {
          max-height: auto;
          .swiper__item {
            margin-bottom: auto;
          }
        }
      }
      .card {
        width: 90vw;
        margin: {
          top: 100px;
          left: 10px;
          right: 10px;
        }
        &:first-child {
          margin-top: 50px;
        }
        &:last-child {
          margin-bottom: 250px;
        }
      }
    }
  }
}

@media all and (max-width: 640px) {
  .container {
    .content {
      .screenshots {
        .swiper__container {
          margin-top: 50px;
          padding: 0;
          padding-bottom: 20px;
        }
      }
      .card {
        margin-top: 50px;
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 200px;
        }
      }
    }
  }
}

@media all and (max-width: 550px) {
  .container {
    .content {
      margin-top: 75px;
    }
  }
}

@media all and (max-width: 500px) {
  .container {
    .content {
      .card {
        &:last-child {
          margin-bottom: 150px;
        }
        .card__title {
          text-align: center;
        }
        .card__content {
          text-align: center;
          margin: 0;
        }

        &.summary {
          .summary__sub-title {
            text-align: center;
            margin: {
              left: 0;
            }
          }

          .summary__text {
            margin: {
              left: 0;
            }
          }
        }
        &.update {
          hgroup {
            flex-direction: column;
            .update__date-diff {
              margin-left: 0;
            }
          }
          .card__content {
            a {
              text-align: start;

              .update__message {
                white-space: nowrap;
                font: {
                  size: 20px;
                }
              }
              .update__date {
                color: gray;
                font: {
                  size: 16px;
                }
              }
            }
          }
        }
        &.links {
          .card__content {
            .link__list {
              justify-content: space-evenly;
            }
            .test-account {
              .test-account__list {
                margin-left: 0;
                justify-content: space-evenly;
              }
              & > p {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
