@import "../components/Project.module.scss";

.container {
  height: 800vh;
  display: block;
}

.content {
  overflow: hidden;
  position: sticky;
  top: 0;
  flex-direction: column;
  align-items: center;
  .card {
    width: 90vw;
  }
}

.canvas {
  pointer-events: none !important;
  height: 100vh !important;
  width: 100vw !important;
  min-width: 350px !important;
}
