.skill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  max-height: 120px;
  width: 20vw;
  height: 20vw;
  margin: 1vw;
  padding: 10px;
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  &:hover {
    .skill__tooltip {
      opacity: 1;
      transform: translateY(-230%);
    }
  }

  .skill__img {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .skill__tooltip {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: fit-content;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

    .tooltip-text {
      color: white;
      white-space: nowrap;
      padding: {
        left: 15px;
        right: 15px;
      }
    }
  }
}
