.container {
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 3;
  height: fit-content;
  width: 40px;
  transition: opacity 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  .item {
    transition: all 0.3s;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    &:hover {
      transform: scale(1.1);
    }

    &.to-top {
      pointer-events: none;
      height: 0;

      &.show {
        pointer-events: all;
        height: 40px;
      }

      .icon {
        height: 100%;
      }
    }

    .tooltip {
      pointer-events: none;
      height: fit-content;
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      margin: auto 15px;
      padding: 0px 15px;
      border-radius: 15px;
      background-color: rgb(70, 70, 70);
      color: whitesmoke;
      width: max-content;
      height: 26px;
      line-height: 26px;
      transition: all 0.3s;
      opacity: 0;
      transform: translateX(30%);
      font: {
        family: "Gowun Dodum", sans-serif;
        size: 14px;
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        content: "";
        aspect-ratio: 1/1;
        height: 50%;
        transform: translateX(20%) rotate(45deg);
        background-color: rgb(70, 70, 70);
        border-radius: 3px;
      }
    }

    &:hover {
      .tooltip {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    right: 10px;
    bottom: 20px;
  }
}

@media (hover: hover) {
  .itme {
    .tooltip {
      display: none;
    }
  }
}
