@import "./about&contact.module.scss";

.container {
  .content {
    .section {
      .sub-header {
        margin: {
          top: 10px;
          bottom: 10px;
        }
        font: {
          size: 20px;
        }
      }

      .skills__front-end,
      .skills__design {
        display: grid;
        justify-items: center;
        gap: 25px;
        grid-template-columns: repeat(auto-fill, minmax(25%, auto));
      }
    }
  }
}
