.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: white;
  animation: fadeIn 1s forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .content {
    align-self: center;
    width: 80vw;
    max-width: 800px;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    padding: {
      top: 50px;
    }
    margin: auto;
  }

  .title {
    width: 100%;
    text-align: center;

    margin: {
      top: 30px;
      bottom: 50px;
    }
    font: {
      size: 40px;
      weight: 700;
    }
  }

  .section {
    padding: 20px;
    margin: {
      bottom: 30px;
    }

    .header {
      margin: {
        bottom: 20px;
      }
      font: {
        size: 24px;
        weight: 700;
      }
    }

    .text {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      // margin: {
      //   left: 10px;
      // }
    }

    &.plan {
      margin: {
        top: -20px;
      }
    }
  }
}
