@import "./about&contact.module.scss";

.container {
  .content {
    .section {
      .sub-header {
        margin: {
          // left: 10px;
          top: 10px;
        }
        font: {
          size: 20px;
        }
      }

      .skills__front-end,
      .skills__design {
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
        justify-content: flex-start;
        margin: {
          bottom: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 640px) {
  .container {
    .content {
      .section {
        .skills__front-end {
          justify-content: space-around;
        }
      }
    }
  }
}
