* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  overflow-y: visible;
}

body {
  min-width: 350px;
  max-width: 100vw;
  max-width: 100dvw;
  overflow-x: hidden;
  background-color: white;
  color: #221718;
  font: {
    family: "Gowun Dodum", sans-serif;
  }
  button,
  a {
    color: #221718;
  }
  a {
    text-decoration: none;
  }
}

@media (max-width: 350px) {
  body {
    overflow-x: scroll;
  }
}

// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: #181818;
//     color: whitesmoke;
//     button,
//     a {
//       color: whitesmoke;
//     }
//   }
// }
