* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  overflow-y: visible;
}

body {
  min-width: 350px;
  max-width: 100vw;
  max-width: 100dvw;
  overflow-x: hidden;
  background-color: white;
  font: {
    family: "Gowun Dodum", sans-serif;
  }
  button {
    color: #221718;
  }
  a {
    color: #221718;
    text-decoration: none;
  }
}

@media (max-width: 350px) {
  body {
    overflow-x: scroll;
  }
}
