* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  overflow: hidden;
  min-width: 230px;
}

body {
  opacity: 0;
  min-width: 230px;
  max-width: 100vw;
  background-color: white;
  font: {
    family: "Gowun Dodum", sans-serif;
  }
  a {
    color: #221718;
    text-decoration: none;
  }

  animation: fadeIn 1s 1s forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
